<%- include ('partials/header.ejs') %>
<%- include ('partials/userNavbar.ejs') %>

<body>
    <div class="container">
        <div class="bg-light p-5 rounded-lg m-3">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <br>
        <% article.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h4><%=article.title %></h4>
            </div>
            <div class="card-body" style="text-align:right">
                <a href="/<%=article.slug%>" class="btn btn-primary" style="text-align:right">Ler Artigo</a>
            </div>
        </div>
        <% }) %>
        <br>

        <div class="row" style="float:right">
            <div class="col col-12">
                <a href="/articles/page/2" class="btn btn-info">Next &#x27A1</a>
            </div>
        </div>
    </div>
</body>

<%- include ('partials/footer.ejs') %>